.card-container{
     display: flex;
     gap: 1.5rem;
     flex-wrap: wrap;
}
.latex-container {
     flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  backGround-color: var(--color-light);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
  padding: 1.7rem;
  max-width: 30rem;
  border-radius: 7px;
  position: relative;
}
.symbole-latex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  /* width: 60%; */
}
.symbole-latex {
     display: flex;
     width: 100%;
     justify-content: center;
     align-items: center;
     gap: 2rem;
     font-size: 19px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 1.6rem 2rem;
  text-align: center;
  border: 1px solid var(--color-white);
}
.symbole-latex:hover  {
background-color: var(--color-white);
  color: var(--color-black);
  border: 1px solid var(--color-black);
  font-weight: bold;
}
.copy-image{
     position: absolute;
     right: 1px;
     top: 1px;
     color: black;
     width: 25px;
     cursor: pointer;
     transition: all .3s ease;
}
.copy-image:active{
     transform: scale(1.1);
}
