.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 1rem 5rem;
  margin: 0 auto;
  width: 90%;
}
.navbar .logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.navbar img {
  width: 3rem;
}
.navbar .logo h4 {
  color: var(--color-dark);
}
.navbar .navbar-links {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.navbar .navbar-links a {
  color: var(--color-dark);
  transition: all 0.3s ease;
  font-weight: var(--fontWeight-regular);
}
.navbar .navbar-links a:hover {
  color: var(--color-gray);
  transform: scale(1.02);
}