.main-content{
  flex-grow: 3;
    border: 1px solid var(--color-light);
  padding: 5rem;
}
.main-content h3{
  font-size: var(--fontSize-xl);
  color: var(--color-black);
}
.main-content h5{
  font-size: var(--fontSize-base);
  color: var(--color-dark);
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}